body {
    font-family: "Montserrat", sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    position: relative; /* posição relativa sobre a tela */
}

ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    height: 25px;
    width: 95%;
    position: fixed;
}

.img-topo{
    height: 25px;
     margin-bottom: -20px;/* margem para baixo */
}

video{
    width: 100vw;
     min-height: 80vh;   /*minimo de altura */
}

.capa {
    position: absolute;
    bottom: 25%;
    left: 5%;
    width: 35%;
    z-index: 3; /* quem fica a frente de quem */
}

.capa-titulo {
    color: #fff;
    font-size: 70px;
    margin-bottom: 5px;
    font-weight: bold;
}

.capa-descricao {
    color: #fff;
    font-size: 20px;
   margin-bottom: 25px;
}
.capa p span{
    color: #ffffffa9;
}

.capa-p {
    color: #fff;
}

.link-assistir {
    background-color: #fff;
    color: black;
    padding: 10px 20px;
    border-radius: 7px;
    cursor: pointer;
}

.link-info {
    background-color: rgba(255, 255, 255, 0.466); /* cor transparente*/
    padding: 10px 20px;
    border-radius: 7px;
    cursor: pointer;
}

.imagem-carrosel {
    width: 150px;
}

.imagem-carrosel:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

#carouselExampleControls {
    background-color: transparent;
    position: absolute;
    bottom: 30px;
    left: 50px;
}

.titulo-carrosel {
    color: #fff;
    font-weight: 400;
    font-size: 35px;
}

.botaosom{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 5;
    position: absolute;
    top: 100px;
    right: 20px;
}

.modal{
display: none;
position: fixed;
z-index: 5;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.635);
}

.modal-conteudo{
background-color: #181818;
margin: 30px auto;
padding: 20px;
width: 60%;
color: #fff;
}